version: '3.9'
services:
  ml:
    build: ./ml
    ports:
      - '5001:5001'
  backend:
    build: ./backend
    ports:
      - '8000:8000'
    depends_on:
      - ml
  frontend:
    build: ./frontend
    ports:
      - '3000:3000'
    depends_on:
      - backend
